@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

@keyframes growShrink {
  0%, 100% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.1);
    border: 1px solid #093F7C;
  }
}

.animate-grow-shrink {
  animation: growShrink 2s infinite;
}

::-webkit-scrollbar {
  width: 0; 
}

::-webkit-scrollbar-track {
  background: #b5d5fa; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #3e92f1; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #0a4486 
}


